<h2>Por Capital</h2>
<hr>

<!-- buscador -->
<div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar( $event )"
        placeholder="Buscar capital...">
        <!-- escuchamos el término emitido por el componente hijo y cuando se recibe el evento se dispara el buscar -->
      </app-pais-input>
    </div>
  </div>
  
  <hr />
  
  <!-- mensaje de alerta -->
  <div *ngIf="hayError" class="alert alert-danger">
    No se encontró nada con el término {{ termino }}
  </div>
  
  <!-- tabla con la información de los países -->
  <div *ngIf="!hayError" class="row">
    <div class="col">
      <!-- mandamos la información de los paises al componente de la tabla -->
      <app-pais-tabla [paises]="capitales"></app-pais-tabla> <!-- con las llaves cuadradas se manda el valor de una variable, sin llaves es un string -->
    </div>
  </div>
